.test{
    background-image: url('/assets/checkinhero-side.PNG');
}
.abc{
    width: 50px;
    height: 50px;
    background-image: url('/assets/images/glovory/flag/id.PNG');
}

.mybox{
    background: url('/assets/download.jfif');
}